.sparkles1{
    font-size: 50px;
}
.sparkles2{
    font-size: 60px;
}
.sparkles3{
    font-size: 70px;
}
.sparkles4{
    font-size: 80px;
}
.flower1{
    font-size: 90px;
}
.flower2{
    font-size: 100px;
}
.flower3{
    font-size: 110px;
}
.rat{
    font-size: 120px;
}
.swan{
    font-size: 130px;
}
.dolphin{
    font-size: 140px;
}